<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <form class="signin" action="{{ url_for('auth.signin')}}" method="POST">
            <h2>Sign In</h2>
            <div class="form-group">
                <input type="email" placeholder="Enter Your Email" name="email" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Enter Your Password" name="password" required>
            </div>
            <button type="submit">Sign In</button>
            <div class="switch">
                Don't have an account? <a href="{{ url_for('auth.signup') }}" class="rg">Register Now</a>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
